<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
   

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../qunit-2.4.1.css">
    <script src="../js/typeit.js"></script>
     
    <div id="qunit-fixture"></div>
    <script src="../qunit-2.4.1.js"></script>
    <script src="../js/typeit.js"></script>

     <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   
    <script src="../js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="../style.css" rel="stylesheet">
	<!--our scripts-->
	<script src="/QACinemas/web/js/angular.js"></script>
	<script src="/QACinemas/web/js/angularScript3.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="myCtrl">

	<!-- NAVBAR
	================================================== -->
		<div ng-include="'/QACinemas/web/navbar.html'"></div>


<br><br><br><br>
<div>

Movie Name : <input ng-model="title" /><br/><br/>

Genre : <input ng-model="genre" /><br/><br/>

IMDB ID : <input ng-model="IMDBID" /><br/><br/>

Image  URL  : <input ng-model="imgURL" /><br/><br/>


<input type="button" value="Send" ng-click="postdata(title, genre, IMDBID, imgURL)" /> <br/><br/>

</div>

<p>{{msg}}</p>




<br><br><br><br>
	<script>
		function logout()
		{
		    var xmlHttp = new XMLHttpRequest();
		    xmlHttp.open( "GET", "http://localhost:8080/QACinemas/logout", false ); // false for synchronous request
		    xmlHttp.send( null );
		}
	</script>    
  </body>
</html>
