<html>
	<head>
   		<title>Update/Delete Admin</title>
    	<link href="../css/style.css" rel="stylesheet">
		<script src="/QACinemas/web/js/angular.js"></script>
		<script src="/QACinemas/web/js/angularScript4.js"></script>
  		<script src="/QACinemas/web/js/logout.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" rel="stylesheet" >
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  	</head>
  	<body ng-app="myApp" ng-controller="myCtrl" ng-init="refresh()">
		<div ng-include="'/QACinemas/web/admin_navbar.html'"></div>
		<div class="container-fluid" style="margin-top:70px; padding: 0;">
			<table cellspacing="0" style="padding-right: 10px;">
				<tr>
		            <th>Title</th>
		            <th>Genre</th>
		            <th>IMDB ID</th>
				</tr>
					<tr ng-repeat="x in myWelcome">
		            <td style="padding-right: 20px;">{{x.title}}</td>
		            <td style="padding-right: 20px;">{{x.genre}}</td>
		            <td style="padding-right: 20px;">{{x.IMDBID}}</td>
					<td style="padding-right: 20px;"><a href="/QACinemas/web/admin/edit.html" target="_blank"><input type="button" value="Edit" ng-click="pass(x.id,x.title,x.genre,x.IMDBID,x.imgURL)"/></a></td>
					<td><input type="button" value="Delete" ng-click="deletedata(x.id)"/></td>
				</tr>
			</table>
			<p>{{msg}}</p>	
		</div>
	</body>
</html>
