<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
   

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="qunit-2.4.1.css">
    
     
    <div id="qunit-fixture"></div>
    <script src="/QACinemas/web/qunit-2.4.1.js"></script>
    

     <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   
    <script src="/QACinemas/web/js/bootstrap.min.js"></script>
	<!--our scripts-->
	<script src="/QACinemas/web/js/angular.js"></script>
	<script src="/QACinemas/web/js/angularScript.js"></script>
    <link href="style.css" rel="stylesheet">
  </head>

	<body ng-app="myApp" ng-controller="myCtrl" ng-init="refresh()" >
	<!-- NAVBAR
	================================================== -->
		<div ng-include="'/QACinemas/web/navbar.html'"></div>

     <!-- Carousel
    ================================================== -->
		<div id="myCarousel" class="carousel slide" data-ride="carousel" ng-include="'/QACinemas/web/carousel.html'"></div>

		<div class="movie_container">
			<center>
				<div id="movies" ng-repeat="x in myWelcome">
					<a href="/QACinemas/web/edit.html" ng-click="local(x.IMDBID)"><img src="{{x.imgURL}}"  height="200" width="150"></a>
					<a href="/QACinemas/web/edit.html"><h5>{{x.title}}</h5></a>
				</div>
			</center>
		</div>
	</body>
</html>
