<!DOCTYPE html>
<html>
	<link rel="icon" type="image/png" href="/QACinemas/web/images/movie.png" />
	<head>
   		<title>Listings</title>
		<link href="css/style.css" rel="stylesheet">
		<script src="/QACinemas/web/js/angular.js"></script>
		<script src="/QACinemas/web/js/angularScript.js"></script>
    	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" rel="stylesheet" >
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 	</head>

  	<body ng-app="myApp" ng-controller="myCtrl" ng-init="refresh()">
		<div ng-include="'/QACinemas/web/navbar.html'"></div>
		<div class="container-fluid" style="margin-top:50px; padding: 0;">
			<div id="container">
			  	<center>
			  		<h1> QA Cinema </h1>
			  	</center>
			</div>
			<div class="movie_container">
				<div id="movies" ng-repeat="x in myWelcome">
					<a href="/QACinemas/web/edit.html" ng-click="local(x.IMDBID,x.id)"><img src="{{x.imgURL}}" height="300" width="200"></a>
					<a href="/QACinemas/web/edit.html" ng-click="local(x.IMDBID,x.id)"><h5>{{x.title}}</h5></a>
				</div>
			</div>
			<br><br><br>
		</div>
  	</body>
</html>
